html,
body,
#root {
  height: 100%;
  margin: unset;
  position: relative;
}
button {
  background-color: rgba(12, 72, 151, 0.5);
  padding: 1rem 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  border: none;
  font-size: large;
  color: rgb(255, 255, 255);
}
